.item {
    width: 4vw;
    height: 4vw;
    display: inline-block;
    position: relative;
    display: flex;

    background: url('../src/resources/frame.png');
    background-size: 100%;

    img {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0;
        outline: 0;
        transform: scale(0.7);
    }

    .count {
        position: absolute;
        right: 0;
        bottom: 0;
        color: white;
        background: rgba(0, 0, 0, 0.8);
        font-size: 1vw;
        padding: 0.2vw 0.3vw;
        text-align: center;
        width: 2em;
        font-weight: bold;
        border-top-left-radius: 30%;
    }

    @media screen and (max-width: 500px) {
        width: 7vw;
        height: 7vw;
    }
}

