.stage {
    text-align: center;

    .items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        > * {
            margin: 0.5vw;
        }
    }

    .stage-buttons {
        .button {
            margin: 1vw;
        }
    }
}
