html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: MedievalSharp;
    font-size: 24pt;
    color: white;

    background: url('../src/resources/background.png') center;
    background-size: cover;

    width: 100%;
    height: 100%;
    margin: 0;
}

#container, .app {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: stretch;

    > * {
        flex-grow: 1;
    }
}

.account {
    position: absolute;
    right: 0;
    top: 0;
}

:focus {
    outline: none;
}

* {
    image-rendering: pixelated;
}

.sprite {
    -webkit-filter: brightness(0.7);
}

@import './login';

@import './components/hover-button';
@import './components/progress-icon';
@import './components/item';
@import './components/shelf';
@import './components/stage';
@import './components/cauldron';
@import './components/queue-item';
@import './components/queue';

@import './views/brewing-view';
