.login-form {
    display: flex;
    flex-direction: column;

    align-items: stretch;
    justify-content: center;

    max-width: 300px;
    margin: 0 auto;
    height: 100%;

    > * {
        margin-bottom: 20px;
    }

    h2 {
        font-weight: normal;
    }

    input {
        font-family: inherit;
        height: 60px;
        background: none;
        border: 2px solid white;
        padding: 0 20px;
        font-size: 16pt;
        color: white;
    }


    input[type="text"],
    input[type="password"] {
    }

    input[type="submit"] {
        background: white;
        color: black;
        cursor: pointer;
        font-weight: bold;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
            color: white;
        }
    }

    a {
        color: white;
        font-size: 70%;
    }
}
