.brewing-view {
    overflow: hidden;
    position: relative;

    > .stage {
        position: absolute;
        top: 1vw;
        left: 50%;
        width: 35%;
        transform: translateX(-50%);
    }

    > .shelf {
        position: absolute;
        z-index: 2;

        &.left {
            left: 20%;
            top: 40%;
            transform: translate(-50%, -50%);
        }

        &.right {
            right: 20%;
            top: 40%;
            transform: translate(50%, -50%);
        }
    }

    > .center {
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
    }

    > .units {
        position: absolute;
        left: 50%;
        top: 35%;
        width: 80%;
        height: 15vw;
        transform: translate(-50%, -50%);

        display: flex;
        align-items: center;
        justify-content: center;
    }

    > .bottom {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 1vw;
        text-align: center;

        display: flex;
        align-items: flex-end;

        > * {
            flex: 1 1 0;
        }

        .actions {
            margin-top: 0.5vw;
            margin-right: -0.5vw;
            display: flex;
            justify-content: flex-end;

            > * {
                margin-right: 0.5vw;
            }
        }

        .chat {
            text-align: left;
            font-size: 0.6em;
            flex: 1 1 0;
            opacity: 0.5;
            max-height: 20vh;
            overflow: auto;
            border-radius: 12px;
            padding: 2vw;

            &:hover {
                opacity: 1;
                background: rgba(0, 0, 0, 0.6);
            }

            .date {
                display: block;
                font-size: 0.9em;
                color: #8F8;
            }
        }
    }

    @media screen and (max-width: 500px) {
        > .units {
            top: 25%;
        }

        > .center {
            top: 40%;
            transform: translate(-50%, -50%) scale(2);
        }

        > .shelf.left {
            left: 25%;
            top: 70%;
        }

        > .shelf.right {
            right: 25%;
            top: 70%;
        }
    }
}
