.brewing-view {
    overflow: hidden;
    position: relative;

    > .stage {
        position: absolute;
        top: 1vw;
        left: 50%;
        width: 35%;
        transform: translateX(-50%);
    }

    > .shelf {
        position: absolute;

        &.left {
            left: 20%;
            top: 40%;
            transform: translate(-50%, -50%);
        }

        &.right {
            right: 20%;
            top: 40%;
            transform: translate(50%, -50%);
        }
    }

    > .center {
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
    }

    > .units {
        position: absolute;
        left: 50%;
        top: 35%;
        width: 80%;
        height: 15vw;
        transform: translate(-50%, -50%);

        display: flex;
        align-items: center;
        justify-content: center;
    }

    > .queue {
        position: absolute;
        left: 50%;
        bottom: 20%;
        transform: translate(-50%, 0%);
    }

    > .buttons {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 1vw;
        text-align: center;

        > * {
            margin: 1vw;
        }
    }

    @media screen and (max-width: 500px) {
        > .units {
            top: 25%;
        }

        > .center {
            top: 40%;
            transform: translate(-50%, -50%) scale(2);
        }

        > .shelf.left {
            left: 25%;
            top: 70%;
        }

        > .shelf.right {
            right: 25%;
            top: 70%;
        }
    }
}
